.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Page {
  background-color: white;
}

.Page-content {
  display: grid;
  flex-direction: column;
  align-items: stretch;
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Info-bullet {
  text-align: left;
  margin: 0 0 20px 0;
}

.Hours-content {
  display: flex;
  flex-direction: column;
  justify-self: center;
}

.Hours-heading {
  text-align: left;
  margin: 0;
}

.Hours {
  text-align: left;
  margin: 0 0 20px 0;
}

.Shuttle-heading {
  text-align: center;
  margin: 0 0 5px 0;
}

.Shuttle-table {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
}

.Shuttle-table-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Shuttle-table-row:nth-child(odd) {
  background-color: #efefef;
}

.Shuttle-table-row:first-child {
  border-bottom: 2px solid black;
}

.Shuttle-table-col {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
}

.Shuttle-table-col:nth-child(odd) {
  background-color: #efefef;
}

.Shuttle-table-heading {
  width: 100%;
  padding: 5px;
}

.Shuttle-table-time {
  min-height: 1em;
  width: 100%;
  padding: 5px;
}

.Request-form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: flex-start;
  width: 100%;
}

.Request-title {
  align-self: center;
  text-align: center;
}

.Form-row {
  display: flex;
  width: 100%;
  margin: 0 0 20px 0;
}

.Form-label {
  margin-right: 5px;
}

.Form-text-input {
  width: 100%;
}

.Ride-data {
  text-align: left;
  color: gray;
}

.Request-button {
  align-self: center;
}

.Contact-info {
  display: flex;
  flex-direction: column;
  justify-self: center;
  text-align: left;
}

.Contact-line {
  margin: 0 0 5px 0;
}
